### Create connection, CRUD operations with sqlite

In [ ]:
import sqlite3
# 1. Connect (creates file if missing)
conn = sqlite3.connect("mydata.db")

# 2. (Optional) Access rows as dicts
conn.row_factory = sqlite3.Row
# 3. Create a cursor
cur = conn.cursor()

In [5]:
# 4. Create table (if it doesn't exist)
cur.execute("""
    CREATE TABLE IF NOT EXISTS test_users (
        id   INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age  INTEGER
    )
""")

In [6]:
users = [("Alice", 30), ("Bob", 25), ("Carol", 27)]
cur.executemany("INSERT INTO test_users (name, age) VALUES (?, ?)", users)

# 6. Commit your changes
conn.commit()

In [7]:
# 7. Query the table
cur.execute("SELECT id, name, age FROM test_users WHERE age > ?", (26,))
for row in cur.fetchall():
    print(f"{row['id']}: {row['name']} is {row['age']}")

1: Alice is 30
3: Carol is 27

In [8]:
# 8. Clean up
cur.close()
conn.close()

### Loading query results into pandas dataframes

In [9]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("mydata.db")
df = pd.read_sql_query("SELECT * FROM test_users", conn)
print(df.head())
conn.close()

   id   name  age
0   1  Alice   30
1   2    Bob   25
2   3  Carol   27